@model Projet_MobPro.Models.T_niveau_experience

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce champ ?</h3>
<div>
    <h5>Vérifiez les champs ci-dessous :</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_niveau_experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_niveau_experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_domaine.domaine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_domaine.domaine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_profil.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_profil.nom)
        </dd>

    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <input type="hidden" name="entrepriseId" value="@ViewBag.ProfilId" />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <br /><br />
            @Html.ActionLink("Retour", "Details", "T_profil", new { id = ViewBag.profilId }, null)
        </div>
    }
</div>
