@model Projet_MobPro.Models.T_entreprise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_entreprise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_num_tel.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_num_tel.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_site.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_site.adresse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
