@model Projet_MobPro.Models.T_profil

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer votre profil ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_naissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_naissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.ruelle_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruelle_p)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.T_role.nom_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_role.nom_role)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_type_contrat.nom_type_contrat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-custom-delete" />
            <br /><br />
            @Html.ActionLink("Retour", "Affichage")
        </div>
    }
</div>
