@model Projet_MobPro.Models.T_profil

@{
    ViewBag.Title = "Details";
}

<h2>Détails du profil</h2>

<div>
    <h5>Vos renseignements</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_naissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_naissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_type_contrat.nom_type_contrat)
        </dd>

    </dl>

    <h5>Gérer mon niveau d'expérience</h5>

    <div class="form-group">
        <p>Domaine</p>
        <div class="col-md-10">
            @Html.DropDownList("domaine", (SelectList)ViewBag.domaine_experience, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
