@model Projet_MobPro.Models.T_profil

@{
    ViewBag.Title = "Details";
}

<h2>Détails du profil</h2>

<div>
    <h5>Vos renseignements :</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_naissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_naissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_type_contrat.nom_type_contrat)
        </dd>

    </dl>

    <h5>Gérer mon niveau d'expérience</h5>
    <a href="@Url.Action("Create", "T_niveau_experience", new { profilId = Model.id })" class="btn btn-primary">
        Ajouter un Niveau d'Expérience
    </a>

    @if (ViewBag.NiveauxExperience != null && ViewBag.NiveauxExperience.Count > 0)
    {
        <div class="form-group">
            <div class="col-md-10">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Niveau d'expérience</th>
                            <th>Domaine d'expertise</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var niveau in ViewBag.NiveauxExperience as List<Projet_MobPro.Models.T_niveau_experience>)
                        {
                            <tr>
                                <td>@niveau.nom_niveau_experience</td>
                                <td>@niveau.T_domaine.domaine</td>
                                <td>
                                    @Html.ActionLink("Modifier", "Edit", "T_niveau_experience", new { id = niveau.id, profilId = Model.id }, new { @class = "btn-custom-edit" })
                                    @Html.ActionLink("Supprimer", "Delete", "T_niveau_experience", new { id = niveau.id, profilId = Model.id }, new { @class = "btn-custom-delete" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <br />
        <p>Aucun niveau d'expérience trouvé pour ce profil.</p>
    }

</div>
<br />
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }, new { @class = "btn-custom-edit" })
    <br /><br />
    @Html.ActionLink("Retour", "Affichage")
</p>
