@model IEnumerable<Projet_MobPro.Models.T_profil>

@{
    ViewBag.Title = "Index";
}

<h2>Mon profil</h2>

<p>
    @if (!(ViewBag.ProfilExistant is bool && (bool)ViewBag.ProfilExistant) && ViewBag.ProfilCount < 2)
    {
        @Html.ActionLink("Créer un profil", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_naissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code_postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_niveau_experience.nom_niveau_experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_niveau_experience.domaine)
        </th>
        <!--<th>
        @Html.DisplayNameFor(model => model.T_niveau_experience.nom_niveau_experience)
    </th>-->
        <th>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_naissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code_postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_niveau_experience.nom_niveau_experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_niveau_experience.domaine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_type_contrat.nom_type_contrat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn-custom-edit" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn-custom-edit" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn-custom-delete" })
        </td>
    </tr>
}

</table>
