@model Projet_MobPro.Models.T_profil_competences

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>T_profil_competences</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{ ViewBag.id_profil = ViewBag.profilId;}

    <div class="form-group">
        @Html.LabelFor(model => model.competences_id, "competences_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("competences_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.competences_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.level_competences, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.level_competences, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.level_competences, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.commentaire, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.commentaire, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.commentaire, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.marge_erreur, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.marge_erreur)
                @Html.ValidationMessageFor(model => model.marge_erreur, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.restriction_level_competences, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.restriction_level_competences)
                @Html.ValidationMessageFor(model => model.restriction_level_competences, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour", "Details", "T_profil", new { id = ViewBag.id_profil }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
