@model Projet_MobPro.Models.T_profil_competences

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_profil_competences</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.level_competences)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.level_competences)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marge_erreur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marge_erreur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restriction_level_competences)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restriction_level_competences)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_competences.nom_competence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_competences.nom_competence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_profil.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_profil.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
