@model Projet_MobPro.Models.T_offre_emploi

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h5>Êtes-vous sûr de vouloir supprimer cette offre ?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.date_publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_publication)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.date_suppression)
        </dt>-->

        <dd>
            @Html.DisplayFor(model => model.date_suppression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ouvert_externe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ouvert_externe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teletravail_autorise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teletravail_autorise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_teletravail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_teletravail)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.niveau_experience_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveau_experience_id)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.T_entreprise.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_entreprise.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_site.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_site.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_statut.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_statut.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_type_contrat.nom_type_contrat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-custom-delete" />
            <br /><br />
            @Html.ActionLink("Retour", "Affichage")
        </div>
    }
</div>
