@model Projet_MobPro.Models.T_offre_emploi

@{
    ViewBag.Title = "Details";
}

<h2>Détails de l'offre</h2>

<div>
    <h5>Vos renseignements :</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.date_publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_publication)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.date_suppression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_suppression)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.ouvert_externe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ouvert_externe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_site)
        </dt>

        <dd>
            <a href="@Model.url_site" target="_blank">@Html.DisplayFor(model => model.url_site)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teletravail_autorise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teletravail_autorise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_teletravail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_teletravail)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.niveau_experience_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveau_experience_id)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.T_entreprise.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_entreprise.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_site.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_site.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_statut.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_statut.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_type_contrat.nom_type_contrat)
        </dd>

    </dl>
    <br />
    <h5>Gérer les niveaux d'expérience requis</h5>
    <a href="@Url.Action("Create_Offre", "T_niveau_experience", new { offreEmploiId = Model.id })" class="btn btn-primary">
        Ajouter un Niveau d'Expérience
    </a>

    @if (ViewBag.NiveauxExperience != null && ViewBag.NiveauxExperience.Count > 0)
    {
        <div class="form-group">
            <div class="col-md-10">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Niveau d'expérience</th>
                            <th>Domaine d'expertise</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var niveau in ViewBag.NiveauxExperience as List<Projet_MobPro.Models.T_niveau_experience>)
                        {
                            <tr>
                                <td>@niveau.nom_niveau_experience</td>
                                <td>@niveau.T_domaine.domaine</td>
                                <td>
                                    @Html.ActionLink("Modifier", "Edit_Offre", "T_niveau_experience", new { id = niveau.id, offreEmploiId = Model.id }, new { @class = "btn-custom-edit" })
                                    @Html.ActionLink("Supprimer", "Delete_Offre", "T_niveau_experience", new { id = niveau.id, offreEmploiId = Model.id }, new { @class = "btn-custom-delete" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <br />
        <p>Aucun niveau d'expérience trouvé pour ce profil.</p>
    }

    <h5>Gérer les langues requises</h5>
    <a href="@Url.Action("Create", "T_offre_emploi_langues", new { offreEmploiId = Model.id })" class="btn btn-primary">
        Ajouter une langue
    </a>

    @if (ViewBag.Langues != null && ViewBag.Langues.Count > 0)
    {
        <div class="form-group">
            <div class="col-md-10">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Langue</th>
                            <th>Niveau requis</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lang in ViewBag.Langues as List<Projet_MobPro.Models.T_offre_emploi_langues>)
                        {
                            <tr>
                                <td>@lang.T_langues.nom_langue</td>
                                <td>@lang.commentaire</td>
                                <td>
                                    @Html.ActionLink("Modifier", "Edit", "T_offre_emploi_langues", new { id = lang.id }, new { @class = "btn-custom-edit" })
                                    @Html.ActionLink("Supprimer", "Delete", "T_offre_emploi_langues", new { id = lang.id }, new { @class = "btn-custom-delete" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <br />
        <p>Aucun langue trouvée pour ce profil.</p>
    }

    <h5>Gérer les compétences requises</h5>
    <a href="@Url.Action("Create", "T_offre_emploi_competences", new { offreEmploiId = Model.id })" class="btn btn-primary">
        Ajouter une compétence
    </a>

    @if (ViewBag.Competences != null && ViewBag.Competences.Count > 0)
    {
        <div class="form-group">
            <div class="col-md-10">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Compétence</th>
                            <th>Niveau requis</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comp in ViewBag.Competences as List<Projet_MobPro.Models.T_offre_emploi_competences>)
                        {
                            <tr>
                                <td>@comp.T_competences.nom_competence</td>
                                <td>@comp.commentaire</td>
                                <td>
                                    @Html.ActionLink("Modifier", "Edit", "T_offre_emploi_competences", new { id = comp.id }, new { @class = "btn-custom-edit" })
                                    @Html.ActionLink("Supprimer", "Delete", "T_offre_emploi_competences", new { id = comp.id }, new { @class = "btn-custom-delete" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <br />
        <p>Aucun langue trouvée pour ce profil.</p>
    }

</div>
<br />
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }, new { @class = "btn-custom-edit"})
    <br /><br />
    @Html.ActionLink("Retour", "Affichage")
</p>
