@model Projet_MobPro.Models.T_offre_emploi

@{
    ViewBag.Title = "Details";
}

<h2>Détails de l'offre</h2>

<div>
    <h5>Vos renseignements :</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_suppression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_suppression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ouvert_externe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ouvert_externe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teletravail_autorise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teletravail_autorise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_teletravail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_teletravail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.niveau_experience_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveau_experience_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_entreprise.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_entreprise.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_site.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_site.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_statut.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_statut.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_type_contrat.nom_type_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_type_contrat.nom_type_contrat)
        </dd>

    </dl>

    <h5>Gérer les niveaux d'expérience requis</h5>
    <a href="@Url.Action("Create", "T_niveau_experience", new { offreEmploiId = Model.id })" class="btn btn-primary">
        Ajouter un Niveau d'Expérience
    </a>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
