@model IEnumerable<Projet_MobPro.Models.T_entreprise>

@{
    ViewBag.Title = "Index";
}

<h2>Entreprises</h2>

<p>
    @if (ViewBag.EntrepriseCount < 1 && (ViewBag.CurrentUserRoleId == 3 || ViewBag.CurrentUserRoleId == 2))
    {
        @Html.ActionLink("Créer une entreprise", "Create")
    }
    else if (ViewBag.CurrentUserRoleId == 1)
    {
        @Html.ActionLink("Créer une entreprise", "Create")
    }
    <br />
    @Html.ActionLink("Voir mes sites", "Index", "T_site")
    <br />
    @Html.ActionLink("Voir mes n° Téléphone", "Index", "T_num_tel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.id }, new { @class = "btn-custom-edit" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn-custom-edit" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn-custom-delete" })
        </td>
    </tr>
}

</table>
