@model Projet_MobPro.Models.T_offre_emploi_competences

@{
    ViewBag.Title = "Create";
}

<h2>Compétences Offre d'emploi</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h5>Créer mon expertise professionnelle</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.offre_emploi_id, "offre_emploi_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("offre_emploi_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.offre_emploi_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.competences_id, "competences_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("competences_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.competences_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.commentaire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.commentaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.commentaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<!--<div>
    @Html.ActionLink("Retour", "Details", "T_offre_emploi", new { id = ViewBag.OffreId }, null)
</div>-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
