@model Projet_MobPro.Models.T_num_tel

@{
    ViewBag.Title = "Delete";
}

<h3>Êtes-vous sûr de vouloir supprimer ce champ ?</h3>
<div>
    <h5>Vérifiez les champs ci-dessous :</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_entreprise.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_entreprise.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <input type="hidden" name="entrepriseId" value="@ViewBag.EntrepriseId" />

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            <br />
            @Html.ActionLink("Retour", "Details", "T_entreprise", new { id = ViewBag.EntrepriseId }, null)
        </div>
    }
</div>
